:root {
  --blue-ocean: #142a3e;
  --mud-red: #a61e2a;
  --light-grey: #e4e4e4;
  --medium-gray: #c4c4c4;
  --dark-gray: #5f5f5f;

  --font-family: Montserrat, sans-serif;
}

.none {
  display: none !important;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  pointer-events: all;
}

/* ========================= */
/* search_baner */
/* ========================= */
#search_baner {
  width: 100%;
  height: 300px;
  background: url("https://www.conesalegal.com/hubfs/ConesaLegal_July2019/Images/conesa-legal-abogados-derecho-laboral-barcelona-1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search_baner-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 42, 62, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_baner-content h2 {
  color: #ffffff;
  font-size: 5.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
}

/* ========================= */
/* search_filter */
/* ========================= */

#search_filter {
  width: 90%;
  max-width: 1160px;
  margin: 30px auto;
  padding: 30px 0;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

/* -------------------------------- */
/* Form */
/* -------------------------------- */
#search_filter form,
.search_filter-inputs,
.search_filter-options_container,
.search_filter-buttons {
  display: flex;
}
#search_filter form {
  width: 100%;
}
/* -------------------------------- */
/* Inputs */
.search_filter-inputs {
  width: 75%;
}
.search_filter-input {
  width: 45%;
  margin: 0;
  font-size: 16px;
  padding: 6px 16px;
  height: 34px;
  border-radius: 6px;
  background-color: var(--light-grey);
  color: #181818;
  border: none;
}
.search_filter-input:focus,
.search_filter-buttons button:focus {
  outline: none;
}
.search_filter-input::placeholder,
.search_filter-options input[value="all"] ~ button {
  color: #555555;
}

/* -------------------------------- */
/* options */
.search_filter-options_container {
  justify-content: space-between;
  width: 55%;
  padding: 0 20px;
}
.search_filter-options {
  width: 47.7%;
  position: relative;
}
.search_filter-options span {
  display: none;
}
.search_option-btn {
  width: 100%;
  display: block;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.5px;
  cursor: pointer;
  padding: 9px 14px;
  text-align: left;
  font-size: 1.6rem;
  height: 34px;
  background-color: #e5e5e5;
  color: #181818;
  border: none;

  background-image: url("./assets/arrow_down-1.svg");
  background-repeat: no-repeat;
  background-position: 95% center;

  position: relative;
  z-index: 200;
}
.search_option-btn:focus {
  outline: none;
}

.search_options-list {
  position: absolute;
  z-index: 100;
  padding-top: 10px;
  width: 102%;
  left: -1%;
  height: min-content;
  max-height: 300px;
  overflow-y: scroll;
  background: #f8f8f8;
  list-style: none;
  box-shadow: 0 0 10px rgba(184, 184, 184, 0.5);
  border-radius: 5px;
  display: none;
}
.search_options-list::-webkit-scrollbar {
  width: 10px;
}
.search_options-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
  width: 10px;
}

.search_options-item {
  font-size: 1.6rem;
  padding: 15px 13px 13px;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
}
.search_options-item:hover {
  color: #a61e2a;
  border-bottom: 1px solid #a61e2a;
}
/* -------------------------------- */
/* buttons */
.search_filter-buttons {
  justify-content: space-between;
  width: 25%;
}
.search_filter-buttons button {
  display: block;
  width: 47%;
  background: var(--mud-red);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  min-width: 80px;
  padding: 9px 0;
}
.search_filter-buttons button:hover {
  background-color: var(--blue-ocean);
  /* color: #a3212f; */
}

@media screen and (max-width: 768px) {
  #search_filter form {
    flex-flow: column;
  }
  /* -------------------------------- */
  /* Inputs */
  .search_filter-inputs {
    width: 100%;
  }
  .search_filter-input {
    width: 50%;
    margin-right: 15px;
  }
  /* -------------------------------- */
  /* options */
  .search_filter-options_container {
    width: 50%;
    padding: 0;
  }
  /* -------------------------------- */
  /* buttons */
  .search_filter-buttons {
    width: 100%;
    margin-top: 15px;
  }
  .search_filter-buttons button {
    width: 48.8%;
  }
}
@media screen and (max-width: 590px) {
  /* -------------------------------- */
  /* Inputs */
  .search_filter-inputs {
    flex-flow: column;
  }
  .search_filter-input {
    width: 100%;
    margin-right: 0;
  }
  /* -------------------------------- */
  /* options */
  .search_filter-options_container {
    width: 100%;
    margin-top: 10px;
  }
  .search_filter-options {
    width: 48.5%;
  }
}

/* -------------------------------- */
/* assss */
.show_list {
  display: block;
}

/* ========================= */
/* search_cards */
/* ========================= */
#search_cards {
  width: 90%;
  max-width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 366px);
  column-gap: 30px;
  row-gap: 30px;
  position: relative;
  margin-bottom: 50px;
}
.search_card-content {
  transform-style: preserve-3d;
  transition: all 0.9s linear;
  position: relative;
}
.search_card-back,
.search_card-front {
  height: 200px;
  padding: 20px;
  position: relative;
}

/* card-front */
.search_card-front {
  display: flex;
  border-bottom: 4px solid var(--light-grey);
  box-shadow: 0 0 10px rgba(185, 185, 185, 0.26);
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background: #ffffff;
  left: 0;
  right: 0;
}
.search_card-front img {
  width: 170px;
}
.search_card-front:hover {
  box-shadow: 0 0 15px rgba(185, 185, 185, 0.74);
  border-bottom: 4px solid var(--mud-red);
}
.search_card-front a {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 7px;
  color: var(--blue-ocean);
  text-decoration: none;
  display: block;
  transition: 0.5;
}
.search_card-front span {
  font-size: 1.4rem;
  color: var(--mud-red);
}
.search_card-front,
.search_card-front * {
  cursor: pointer;
}

/* card-back */
.search_card-back {
  background: var(--blue-ocean);
  transform: rotateY(180deg);
  visibility: hidden;
  transition: 0.8s;
}
.search_card-btnClose {
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  cursor: pointer;
}
.search_card-back h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 9px;
  color: #ffffff;
}
.search_card-back span,
.search_card-back a {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--light-grey);
  width: 80%;
}
.search_card-back div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}

/*  */
.search_show-back {
  transform: rotateY(180deg);
}
.search_show-back .search_card-back {
  visibility: initial !important;
}

@media screen and (max-width: 1216px) {
  #search_cards {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 846px) {
  .search_card-front img {
    width: 140px;
  }
}
@media screen and (max-width: 700px) {
  #search_cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .search_card-back span,
  .search_card-back a {
    width: 100%;
  }
}
/* ===================== */
/* search_cards-vertical */
/* ===================== */
#search_cards-vertical {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  column-gap: 30px;
  row-gap: 30px;
  position: relative;
}

.search_cardVertical-front,
.search_cardVertical-back {
  padding: 20px;
  height: 360px;
}

.search_card-vertical img {
  width: 100%;
  margin-bottom: 20px;
}
.search_cardVertical-content {
  transform-style: preserve-3d;
  transition: all 0.9s linear;
  position: relative;
}

/* search_cardVertical-front */
.search_cardVertical-front {
  width: 100%;
  background: #ffffff;
  border-bottom: 4px solid var(--light-grey);
  box-shadow: 0 0 10px rgba(185, 185, 185, 0.322);
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.search_cardVertical-front:hover {
  box-shadow: 0 0 15px rgba(185, 185, 185, 0.74);
  border-bottom: 4px solid var(--mud-red);
}
.search_cardVertical-front a {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 7px;
  color: var(--blue-ocean);
  text-decoration: none;
  display: block;
  transition: 0.5;
}
.search_cardVertical-front span {
  font-size: 1.4rem;
  color: var(--mud-red);
}

/* search_cardVertical-back */
.search_cardVertical-back {
  background: var(--blue-ocean);
  transform: rotateY(180deg);
  visibility: hidden;
  transition: 0.8s;
}
.search_cardVertical-btnClose {
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  cursor: pointer;
}
.search_cardVertical-back h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 9px;
  color: #ffffff;
}
.search_cardVertical-back span,
.search_cardVertical-back a {
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 5px;
  color: var(--light-grey);
  text-decoration: none;
}
.search_cardVertical-back a:hover {
  text-decoration: underline;
}
.search_cardVertical-back div {
  margin-top: 20px;
}
.search_cardVertical-back h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 9px;
  color: #ffffff;
  border-bottom: 2px solid var(--mud-red);
  width: 60%;
  padding: 0 0 0 6px;
}

.search_showVertical-back {
  transform: rotateY(180deg);
}
.search_showVertical-back .search_cardVertical-back {
  visibility: initial;
}

@media screen and (max-width: 1216px) {
  #search_cards-vertical {
    width: 80%;
    max-width: max-content;
    grid-template-columns: repeat(3, 250px);
    margin: 0 auto;
  }
}
@media screen and (max-width: 1000px) {
  #search_cards-vertical {
    grid-template-columns: repeat(2, 250px);
  }
}
@media screen and (max-width: 700px) {
  #search_cards-vertical {
    grid-template-columns: repeat(1, 250px);
  }
}

/* ============================ */
/* search_pagination */
/* ============================ */
.search_pagination {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.search_pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(240, 240, 240);
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  color: #5f5f5f;
}
.search_pagination span:hover {
  background: var(--mud-red);
  color: #fff;
}
